@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
            <NavColumn/>
        </div>

        <div class="main">
            <div class="top-row">
                <NavBar />
            </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
