<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">

        </li>
    </ul>
</nav>

@code {

    string Time
    {
        get
        {
            var time = DateTime.Now;
            return $"{time.Hour}:{time.Minute}:{time.Second}";
        }
    }

}